---
import { ViewTransitions } from "astro:transitions";
import "../styles/theme.css";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="https://fav.farm/👋" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <!-- <meta property="og:image" content={new URL('/og-image.png', Astro.url)} /> -->

    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body
    class="min-h-screen text-text bg-gradient-to-b from-base via-crust to-mantle selection:bg-lavender/80"
  >
    <slot />

    <Footer />
  </body>
</html>
